.Feeds {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  margin-left: 55px;
  cursor: pointer;
  /* text-align: center; */
}
.feed_story_img {
  position: absolute;
  width: 8%;
  height: 25vh;
  border-radius: 10px;
}
.feed_story_img:hover {
  transform: scale(1.01);
  opacity: 0.9;
}
.feed_story_user {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  outline: 4px solid var(--fbcolor);
}
.feeds_story > h4 {
  position: relative;
  width: 100px;
  top: 110px;
  left: 20px;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  overflow-wrap: break-word;
}
.Feeds .create_story {
  text-align: center;
}
.feeds .create_story img {
  width: 90%;
  height: 25vh;
  border-radius: 10px;
  /* margin-left: 20px; */
  position: relative;
}
.feeds .create_story_icon {
  position: absolute;
  top: 223px;
  left: 462px;
  background-color: white;
  width: 8%;
  text-align: center;
  /* padding: 1px; */
  border-radius: 0px 0px 10px 10px;
}
.feeds .create_story_icon .icon_story .MuiSvgIcon-root {
  outline: 1px solid white;
  color: var(--fbcolor);
  position: relative;
  bottom: 12px;
  border-radius: 70%;
  background-color: white;
}
.story_side {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 65%;
  margin-right: 137px;
}
.post .post_side {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border-bottom: 1px solid var(--lightgray);
  padding-bottom: 10px;
}
.post {
  background-color: var(--navcolor);
  margin-top: 20px;
  border-radius: 10px;
  width: 85%;
  margin-left: 60px;
}
.post .post_side img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 50%;
}
.post .post_side input {
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: var(--lightgray);
  text-align: left;
  width: 86%;
  margin-left: 10px;
  margin-top: 10px;
}
.other_side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.other_side .live,
.pict,
.emoji {
  display: flex;
  align-items: center;
  padding: 10px;
}
.other_side .live,
.pict,
.emoji h5 {
  color: gray;
}
.other_side img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.other_side .live:hover {
  background-color: var(--lightgray);
  border-radius: 10px;
  cursor: pointer;
}
