.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navcolor);
  padding: 3px 10px;
}
.navigation_left {
  display: flex;
  align-items: center;
  width: 20%;
}
.navigation_left img {
  width: 10%;
  margin-right: 10px;
  cursor: pointer;
}
.navigation_left input {
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: var(--lightgray);
}
.navigation_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: auto 100px;
}

.navigation_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 24%;
}
.navigation_right h4 {
  margin-right: 10px;
  background-color: var(--lightgray);
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
}
.both {
  display: flex;
  margin-top: 2px;
  width: 28%;
  justify-content: space-between;
  align-items: center;

  padding: 3px 3px;
  cursor: pointer;
}
.navigation_right h3 {
  font-size: 15px;
  margin-right: 20px;
}
.navigation_center .MuiSvgIcon-root {
  margin: auto;
  padding: 10px 35px;
  cursor: pointer;
}
.navigation_right .MuiSvgIcon-root {
  margin: auto;
  background-color: var(--lightgray);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
.navigation_center .MuiSvgIcon-root:hover {
  background-color: var(--lightgray);
  border-radius: 10px;
}
.navigation_right .MuiSvgIcon-root:hover {
  background-color: var(--hovercolor);
}
.navigation_right h4:hover {
  background-color: var(--hovercolor);
}
